h1.page-title {
    margin: 30px 0;
    text-align: center;
    display: block !important;

    @media (max-width: 768px) {
        margin-top:30px;
    }
}

.sidebar.sidebar-additional {
    display: none;
}

.column.main {
    max-width: 595px !important;
    margin: auto !important;
    float: none;
}

dl,
dt,
dd,
li {
    background: transparent !important;
}

[data-content-type="row"] {
    padding: 0 20px;

    @media (max-width: 768px) {
        padding:0 15px
    }
}