
.lib-font-face(
    @family-name:'<custom_font_name>',
    @font-path: '@{baseDir}fonts/<path_to_font_file>',
    @font-format: '<ttf|woff|woff2|eot|otf|svg>',
    @font-weight: '<font_weight>',
    @font-style: '<font_style>',
    @font-display: '<auto|block|fallback|optional|swap>'
);

/* https://gwfh.mranftl.com/fonts/ */

@import 'fonts/__opensans';