
//  Fonts
@font-family-name__opensans: 'Open Sans';
@font-family__sans-serif: 'Open Sans';

@font-family__base: @font-family-name__opensans, @font-family__sans-serif;
@font-family__main: @font-family-name__opensans, @font-family__sans-serif;

//  Color palette
@demo66_black: #000000;
@demo66_white: #FFFFFF;
@demo66_gray: #7c7c7c;
@demo66_lightgray: #ccc;
@demo66_offwhite: #ececec;
@demo66_accent: #1979c3;

// Widths
@layout__max-width: 1366px;