<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Ecommerce66_ProductTabs::menu"
             title="Product Tabs"
             module="Ecommerce66_ProductTabs"
             sortOrder="299"
             parent="Ecommerce66_Core::top_level"
             resource="Ecommerce66_ProductTabs::menu"/>

		<add id="Ecommerce66_ProductTabs::ecommerce66_manage_producttabs"
             title="Product Tabs Settings"
             module="Ecommerce66_ProductTabs"
             sortOrder="10"
             parent="Ecommerce66_ProductTabs::menu"
             action="adminhtml/system_config/edit/section/protabs"
             resource="Ecommerce66_ProductTabs::ecommerce66_manage_producttabs"/>
    </menu>
</config>
