<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="ecommercceb.cartquantity.category.products.list" type="Ceb\CartQty\Plugin\Block\Product\AbstractProduct" />
    </type>

</config>
