<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference
        for="Ceb\ErpStockSync\Api\ErpStockClientInterface"
        type="Ceb\ErpStockSync\Model\Erp\MockErpStockClient"
    />

    <preference
        for="Ceb\ErpStockSync\Api\StockSynchronizerInterface"
        type="Ceb\ErpStockSync\Model\Stock\StockSynchronizer"
    />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ceb_erp_stock_sync" xsi:type="object">Ceb\ErpStockSync\Console\Command\SyncStockCommand</item>
            </argument>
        </arguments>
    </type>

    <preference
        for="Ceb\ErpStockSync\Api\ProductSkuValidatorInterface"
        type="Ceb\ErpStockSync\Model\Stock\ProductSkuValidator"
    />

    <preference
        for="Ceb\ErpStockSync\Api\StockBatchUpdaterInterface"
        type="Ceb\ErpStockSync\Model\Stock\StockBatchUpdater"
    />

</config>