<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ecommerce66_brands" frontName="brands">
            <module name="Ecommerce66_Brands" />
        </route>
        <route id="ecommerce66_brand_landing" frontName="brand-landing">
            <module name="Ecommerce66_Brands" />
        </route>
    </router>
</config>
