<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="theme66" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Theme Settings</label>
            <tab>e66</tab>
            <resource>Ecommerce66_Theme::config</resource>
            <group id="settings_plp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Box (PLP and Others)</label>
                <field id="qty_box" type="select" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show quantity box in PLP</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
