
div.smile-toolbar {
    .st-logo {
        width: 30px !important;
        overflow: hidden;
        padding-left: 25px !important;
        border-radius: 10px;
        height: 23px;
        right: -10px;
        &:after {
            content: '\276E';
            display: inline-block;
            width: 25px;
            height: 25px;
            position: fixed;
            top: -10px !important;
            right: -2px !important;
        }
    }
    .st-titles {
        padding-right: 30px !important;
    }
    .st-navigator {
        h1 {
            line-height: 25px;
        }
    }
}

.st-zone {
    .st-title {
        h1 {
            line-height: 25px;
        }
    }
}
