<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Ceb\ViewModelCustom\Api\CebInterface"
                type="Ceb\ViewModelCustom\Model\Service\CebDemo"/>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="ceb-section" xsi:type="string">Ceb\ViewModelCustom\CustomerData\CebSection</item>
            </argument>
        </arguments>
    </type>
</config>
