<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_catalog_product_attribute_save">
        <observer name="ecommerce66_brands_catalog_entity_attribute_save_after"
                  instance="Ecommerce66\Brands\Observer\Catalog\AttributeSaveAfter"/>
    </event>
</config>
