<!-- ko ifnot: isCustomerLoggedIn() -->
<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<!-- ko -->
<form class="form form-login" data-role="email-with-possible-login" data-bind="submit: login" method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <label class="label" for="customer-email"><span data-bind="i18n: 'Email Address'"></span></label>
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       data-bind="
                                textInput: email,
                                hasFocus: emailFocused,
                                afterRender: emailHasChanged,
                                mageInit: {'mage/trim-input':{}}"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" >
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false">
                    <!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko -->
                </span>
            </div>
        </div>

        <!-- Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="field hidden password" id="customer-password-div">
                <label class="label" for="customer-password"><span data-bind="i18n: 'Password'"></span></label>
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                    attr: {
                                        placeholder: $t('Password'),
                                    }"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" autocomplete="off">
                </div>
            </div>

            <div role="alert" id="message" class="message hidden">
                <div></div>
            </div>


            <div class="field hidden" id="otp-input">
                <label class="label" for="customer-otp"><span data-bind="i18n: 'OTP Code'"></span></label>
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                    attr: {
                                        placeholder: $t('OTP Code'),
                                    }"
                           type="text"
                           name="otp-code"
                           id="customer-otp"
                           data-validate="{required:true}" autocomplete="off" >
                </div>
            </div>
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->

            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" >
                <!-- ko if: otpAuth() -->
                <div id="methods-login">
                    <span id="otp-note" class="note otp-note" data-bind="i18n: 'You already have an account with us, please select your login method.'"></span>

                    <!-- Botones de selección de método -->
                    <div class="primary">
                        <p id="otp-primary-title" class="otp-primary-title" data-bind="i18n: 'Login with:'"></p>

                        <button class="action login primary" id="default-login" data-bind="click: showDefaultLogin">
                            <span data-bind="i18n: 'Password'"></span>
                        </button>

                        <button class="action login primary" id="otp-login" data-bind="attr: {title: $t('OTP code')}, click: showOtpInput">
                            <span data-bind="i18n: 'OTP code'"></span>
                        </button>
                    </div>
                </div>

                <!-- /ko -->

                <!-- Login usuario y contraseña default -->
                <div class="hidden" id="default-login-form">
                    <div id="forgot-password" class="actions-toolbar secondary">
                        <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                            <span data-bind="i18n: 'Forgot Your Password?'"></span>
                        </a>
                    </div>
                    <input name="context" type="hidden" value="checkout" >
                    <div class="primary">
                        <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="i18n: 'Login'"></span></button>
                    </div>
                </div>

                <!-- Login con código OTP -->
                <div class="hidden" id="otp-login-form">
                    <div class="primary">
                        <button class="action login primary hidden" id="otp-submit" data-bind="click: submitOtp"><span data-bind="i18n: 'Login'"></span></button>
                    </div>
                </div>

                <!-- Boton para regresar a los métodos disponibles -->
                <div class="secondary hidden" id="switch-method">
                    <a class="action remind" data-bind="click: switchMethod">
                        <span data-bind="i18n: 'Switch login method'"></span>
                    </a>
                </div>
            </div>
        </fieldset>
        <!-- Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
