.catalog-product-view{
    .product-info-main{
        .product-info-stock-sku{
            .product.attribute.sku .type{
                display: none;
            }
        }
    }
    .price-box{
        flex-wrap: wrap;
        span.label.small {
            color: white;
            display: block;
            width: 100%;
        }
        span.price-label{
            display: none !important;
        }
    }
}
.price-box{
    flex-wrap: wrap;
    span.label.small {
        color: black;
        display: block;
        width: 100%;
    }
}


