<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="e66tablerate" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Table Rate Shipping Fixes</label>
            <tab>e66</tab>
            <resource>Ecommerce66_TableRateShipping::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Module Settings</label>
                <field id="enable" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable fixes</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="carriers/mptablerate/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
